@import '../../index.scss';

.menu {
    display: flex;
    justify-content: space-between;
    box-shadow: $shadow-color;
    background: linear-gradient(321deg, #d0d6c3 0%, #8b986f 53%, #78845d 100%);
    //background: $secondary-color-6;
}

.login {
    margin: 2vw;

    @media (max-width: 820px){
        display: none;
    }
}

.header {
    display: flex;
    align-items: center;

    & .logo {
        margin: 1vw;
        height: 10vh;
    }

    & .title {
        display: block;
        font-size: clamp(0.8rem, 1.5vw, 0.9rem);
        color: $primary-color-1;
    }
}