@use './../../../variables' as *;

.nav {
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-right: 2vw;

    @media (max-width: 820px) {
        display: none;
    }
}

.link {
    color: $primary-color-9;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(0.6rem, 1vw, 0.8rem);
    text-align: center;
    line-height: 1.2em;
    padding: 5px 5px 5px 5px;
    border: 1px solid $primary-color-9;
    border-radius: 6px;
    background-color: $secondary-color-3;
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        color: $primary-color-1;
        background: $primary-color-10;
    }
}

.icon{
    margin-right: 2px;
    width: 20px;
    height: 20px;
    min-width: 14px;
    min-height: 14px;
    display: inline-block;
}

.drawerLink{
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $primary-color-10;
    padding: 10px;
    border: none;
    background: none;

    &:hover{
        color: $primary-color-1;
        background: $primary-color-10;
        border-radius: 3px;
    }
}

.burger {
    display: none;

    @media (max-width: 820px) {
        display: block;
        margin: auto;
        margin-right: 5%;
    }
}