@use "../../variables" as *;
@use "../../mantine" as *;

.title{
    padding: 20px;
    text-align: center;
    color: $primary-color-10;
}

.iconStyle {
    width: 20px;
    height: 20px;
}

.tabs {
    padding: 10px 15px;
    
    @include larger-than(820px) {
        padding: 30px;
    }
}

.selectSection{
    display: flex;
    gap: 10px;
}

.select {
    display: flex;
    align-items: center;
    width: 60px;
    margin-left: 10px;

        &:focus {
            border: 1px solid $secondary-color-8;
            transition: border-color 0.2s ease;
            outline: none;
        }
}

.pagination{
    margin: 10px;
}

.dots{
    outline: 2px solid #fe0d45;
    outline-offset: -2px;
}

.labelSelect{
    display: none;

    @include larger-than(800px){
        display: inline;
    }
}