@use "../../../variables" as *;
@use "../../../mantine" as *;

.titleSection {
    background: linear-gradient(321deg, $primary-color-3 0%, $primary-color-5 53%, $primary-color-8 100%);
    padding: 20px; 
    border-radius: 6px; 
    box-shadow: 0px 3px 5px 0 $black;
    width: 90%;

    display: flex;
    justify-content: space-between;
}

.name{
    text-transform: uppercase;
}

.title{
    font-size: 1.5rem;

    @include larger-than(650px){
        font-size: 2rem;
    }

}

.section{
    padding: 20px;
}

.buttonSection{
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2px;

    @include larger-than(420px){
        width: 25%;
    }
    @include larger-than(528px){
        width: 15%;
    }
    @include larger-than(690px){
        width: 12%;
    }
    @include larger-than(834px){
        width: 10%;
    }
    @include larger-than(982px){
        width: 8%;
    }
    @include larger-than(992px){
     width: 15%;
    }
    @include larger-than(1025px){
     width: 12%;
    }
    @include larger-than(1248px){
     width: 9%;
    }
    @include larger-than(1701px){
     width: 8%;
    }
    @include larger-than(1803px){
     width: 6%;
    }
}

.btn{
    width: 20px;
    height: 20px;
    background: $primary-color-10;
    margin: 2px;
    padding: 2px;

    &:hover{
        background: $secondary-color-6;
    }

    &:nth-child(4){
        background: $secondary-color-6;

        &:hover{
            background: $primary-color-3;
        }
    }

    &:disabled{
        color: gray;
        background: lightgrey;
    }
}

.icon{

    &:hover{
        color: $secondary-color-10;
    }
    &:nth-child(4){
        color: $primary-color-10;
    }
}