@use './variables' as variables;

// Main style settings
* {
    box-sizing: border-box;
    margin: 0;
    font-family: variables.$primary-font;
}

body{
    background: variables.$primary-color-2;
    overflow: hidden;
}

html {
    background: variables.$primary-color-2;
}