/*variables*/

/*Font family*/
$primary-font: "David Libre";

/*Colors*/
$shadow-color: 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
$secondary-color:  #aab396;
$primary-100: rgba(237,234,225,1);

// Main style settings
* {
    box-sizing: border-box;
    margin: 0;
    font-family: $primary-font;
}

html {
    background: $primary-100;
}