@use "../../../variables" as *;

.icon {
    width: 1rem;
    height: 1rem;
}

.scrollArea {
    height: calc(85vh - 180px);
}

// nastavení velikosti zobrazení obrázku jako Modal okno
.windowModal {
    width: 100%;
    height: auto;

    .imgModal {
        width: 100%;
        height: 80vh;
        object-fit: contain;
    }
}

.tableRow{
    height: 80px;

    &:hover{
        background: $secondary-color-2;
    }
}

.tableCell{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableHeader{
    background: $secondary-color-4;
    line-height: 0.8; 

    &:hover{
        background-color: $secondary-color-4;
    }
}
