@use "../../variables" as *;
@use "../../mantine" as*;

.title{
    margin: 30px;
    text-align: center;
}

.detailContainer {
    margin: 0 auto;
    max-width: 90vw;
    padding-top: 20px;
}

.editingButtonSection {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.editedButton{
    text-transform: uppercase;
    background: $secondary-color-6;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    width: auto;
    height: auto;
    padding: 10px;
    box-shadow: 0 1px 4px 0 $black;

// @include larger-than(800px){
//     width: 160px;
//     height: 50px;
// }
        
    &:hover{
        background: $secondary-color-10;
        box-shadow: $shadow-color;
    }
}

.buttonSection{
    display: flex; 
    gap: 10px; 
    justify-content: center;
    padding: 10px 0 10px 0;
}

.switchButton{
    background: $primary-color-6;
    box-shadow: 0 1px 2px 0 $black;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    width: auto; 
    height: 60px;
    line-height: 20px;
    text-align: center;
    padding: 10px;

    &:nth-child(2){
        background: $secondary-color-5;

        &:hover{
            background: $secondary-color-10;
        }
    }
    
    &:hover{
        background: $primary-color-10;
        box-shadow: $shadow-color;
    }

    &:disabled{
        color: gray;
        background: lightgrey;
    }
}

.iconMargin{
    margin-right: 10px;
}